@charset "uft8";
.float_l{
    float: left;
}
.float_r{
    float:right;
}

img{
    width: 100%;
    height: 100%;
}
body,html{
    width: 100%;
    min-height:100%;
}
/* 版心 */
.header-con,.headertop-con,.mainnav,.banner-con,.porjectbox-con,.case-con,.footer-con,.like-con{
    width: 1200px;
    height: 100%;
    margin: auto;
}

.headertop{
    width: 100%;
    height: 34px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5
}

.headertop-con p{
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    color:#666;
}
.headertop-con p a{
    color: #666;
}
.headertop-con p a:hover{
    color: #ff0000;
}

.topnav li{
    float: left;
    padding:0 15px;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
}
.topnav li a{
    color: #666;
}
.topnav li a:hover{
    color: #ff0000;
}
.topnav li .status{
    color: #ff0000;
}



.header-con{
    height: 84px;

}


.logo{
    width: 202px;
    height: 84px;
}
.logo img{
    width: 100%;
    height: 100%;
}


.tel{
    width: 240px;
    height: 73px;
    padding: 18px 20px;
    font-size: 14px;
}

.tel p:nth-child(1){
    width: 150px;
    height:17px;
}
.tel p:nth-child(2),p:nth-child(3){
    padding-left: 6px;
}


.seachbtn{
    width: 150px;
    height: 45px;
    background-color: #e0241b;
    color: white;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.or{
    padding: 10px 10px;
    
}
.seachbox{
    width:494px;
    height: 39px;
    border: 3px solid #c90000;
}

.seachbox_l{
    height: 33px;
    width: 70px;
    background: #FFFFFF url(../img/d_arrow_2.png) 61px center no-repeat;
    font-size: 14px;
    line-height: 33px;
    padding-left: 10px;
    color: #666666;
    cursor: pointer;
}

.seachbox_c input{
    height: 33px;
    width: 324px;
    border: 0;
    outline: none;
    padding-left: 10px;
    color: #000;
}
.seachbox_r{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 33px;
    height: 33px;
    font-weight: 400;
    width: 83px;
    text-align: center;
    cursor: pointer;
    background-color: #E40606;
}
.sch{
    margin-top:30px ;
}


.allnav{
    font-size: 16px;
    color: #FFFFFF;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #bd1a21;
}
.allnav a{
    color:#fff;
}
.mainnav{
    height: 50px;
}
.navlit{
    height: 50px;
}
.navlit ul{
    height: 50px;
    padding-left: 18px;
}
.navlit ul li{
    float: left;
    /* height: 22px; */
    overflow: hidden;
    padding: 14px 15px;
}
.navlit ul li a{
    font-weight: 400;
    font-size: 16px;
    color: #333;
}
.navlit ul li a:hover{
    color:#f14e47;
}
.banner{
    position: relative;
    height: 500px;
}
.slider{
    position: absolute;
    top: -550px;left: 0;
    z-index:-1;
}
.banner-con{
    height: 500px;    
    
}


.mainbav {
    width: 240px;
    height: 500px;
    z-index: 99;
    background-color: #df231b;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.bav_name {
    color: #ffe69a;
    height: 40px;
    overflow: hidden;
    padding-top: 6px;
    background: url(../img/icon_06.jpg) repeat-x 0 17px;
    margin: 0 auto;
}
.bav_name span {
    padding: 0 12px;
    background: #df231b;
}
.box{
    height: 40px;
    padding-left: 8px;
}
.box .box1{
    font-size: 14px;
    padding: 0 6px;
    line-height: 20px;
}
.box:hover{
    background-color: white;
    color:#000;
}
.box:hover a{
    color:#000;
}

.box .box1 a:hover{
    color:#df231b
}
.box:hover .box2{
    display: block;
}
.box2{
    position: absolute;
    left: 240px;
    top: 0px;
    background: #ffffff;
    z-index: 999; 
    display: none;
}
.box2_1{
    position: relative;
    padding-left: 20px;
    width: 646px;
    height: 500px;
    overflow: hidden;
    padding-bottom: 20px;
    border: solid 1px #ee1e1e;
    border-left: none;
}
.box2_l{
    width: 404px;
}
.box2_r{
    width: 220px;
    height: 100%;
}
.box2_r div{
    width: 220px;
    height: 165px;
    border-bottom: 1px #e0e0e0 solid;
}


.boxlis{
    width:190px;
    padding:8px 8px 20px 18px;
}
.boxlis p{
    color:#ff3300;
    font-size:20px;
    text-align: left;
    border-bottom: solid 1px #666;
}
.boxlis ul li{
    float:left;
    font-size: 12px;
    padding:10px 18px 5px 0;
}
.boxlis ul li a{
    color:#000;
    font-size: 12px;
}
.boxlis ul li a:hover{
   color:#ff3300;
}


.hotwrap div{
    width: 240px;
    height: 190px;
}


.hotwrap{
    display: flex;
    justify-content: center;
    padding:20px;
}

.foot{
    background-color: #313131;
    /* height: 389px; */
    margin-top: 20px;
}
.footer_line {
    background-color: #585858;
    height: 1px;
}
.footerbox1 div div{
    width: 116px;
    height: 116px;
}
.imgpic img{
    width: 116px;
    height: 116px;
}
.imgpic{
    width: 116px;
    height: 116px;
}
.footerbox1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerbox1{
    padding: 30px 50px 0;
}
.footerbox1 div ul li{
    color:white;
     font-size: 16px;
     text-align: center;
     padding:20px 40px;
    
}
.footerbox1 div ul li a{
    color:white;
}
.footerbox1 div ul li a:hover{
    color:#ff3300
}
.footerbox1 div ul li:nth-child(1){
    font-size: 24px;
}
.footerbox1 div h3{
    color:white;
}

.footerbox2{
    height: 98px;
}
.footerbox2 p{
    color:white;
    text-align: center;
    padding: 10px 0 ;
}